.app {
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url("./assets//christmas-background-1.jpg");
  background-position: center;
  background-size: cover;
}

.list_container {
  background-color: rgb(67, 75, 55, 15%);
  padding: 0.5rem 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
