:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.app {
  background-color: transparent;
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url('public/img/christmas-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 500px;
  box-shadow: var(--shadow-elevation-medium);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

section article:nth-child(1) {
  display: grid;
  place-items: center;
  background-color: #E0C9A6;
  width: 100%;
  height: fit-content;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-block: 0.5rem;
}

section article:nth-child(1) h1 {
  color: #548C2F;
  /* color: #FA3020; */
  font-size: 2.5rem;
}

section article:nth-child(1) h1 span:nth-child(2) {
  /* color: #548C2F; */
  color: #FA3020;
}

section article:nth-child(2) {
  display: grid;
  place-items: center;
  background-color: #EFE3D2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-block: 1.5rem;
  gap: 40px;
}

section article:nth-child(2) form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

section article:nth-child(2) form input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  padding-block: 7px;
  padding-inline: 7px;
}

section article:nth-child(2) form input:focus-visible {
  outline: 1px solid #FC786E;
}

section article:nth-child(2) form button[type=submit] {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
  padding-block: 0.5rem;
}

section article:nth-child(2) form button[type=submit]:hover {
  background: #FA3020;
  color: white;
  border: 1px solid transparent;
}

section article:nth-child(2) ul li {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: 1.4rem;
  margin-inline-start: -20px;
}

section article:nth-child(2) ul li img {
  display: flex;
  justify-items: center;
  align-items: center;
}
